.box {
  border: 1px solid hsl(340, 5%, 80%);
  border-radius: 8px;
  background: white;
  margin: 12px;
  width: calc(50% - 50px);
}

.name {
  background: hsl(340, 10%, 30%);
  color: hsl(340, 10%, 90%);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 2px 12px;
  font-size: 12px;
  font-family: var(--font-mono);
}

.pre {
  margin: 4px 12px 8px;
  /* font-size: 0.8em; */
  line-height: 1.2em;
  white-space: pre-wrap;
}
